@model IsThisAMood.Controllers.LoginFormModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if((bool)ViewData["fail"])
{
    <div class="ui warning message">
        <div class="header">
            There was a problem with that login!
        </div>
    </div>
}
<form action="/projects/IsThisAMood/api/login" method="post">
    <input type="hidden" asp-for="ClientId"/>
    <input type="hidden" asp-for="RedirectUri"/>
    <input type="hidden" asp-for="ResponseType"/>
    <input type="hidden" asp-for="Scope"/>
    <input type="hidden" asp-for="State"/>
   <div class="ui form">        
        <div class="field">
            <label>Email</label>
            <input type="text" asp-for="Email" placeholder="Username">
        </div>
        <div class="field">
            <label>Pin</label>
            <input type="password" asp-for="Pin">
        </div>
    <button type="submit" class="ui button">Log In</button>
  </div>
  
</form>
